*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#222;
}

svg {
    width:53vh;
    height:100vh;
    margin:0 auto;
    display:block;
}

#panorama {
    margin-top:1rem;
    width:53vh;
    height:40vh;
    display:block;
    margin:0 auto;
}
