*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#222;
}

svg {
    width:48vh;
    height:90vh;
    margin:0 auto;
    display:block;
}

#panorama {
    margin-top:1rem;
    width:53vh;
    height:40vh;
    display:block;
    margin:0 auto;
}

.animated{
    cursor: url(../images/sommon/play.png);
}

.paginator{
    padding:1vh 0;
    width:48vh;
    height:9vh;
    margin:0 auto;
    display:flex;
    list-style-type:none;
    justify-content:space-between;
    align-items:center;
}

.paginator > li:hover{
    align-self:flex-start;
}
